@model EntitiesVO.EmployeeVO
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want ot delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=>model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Name)
        </dd>
        <dt>
            Designation
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Designation.Name)
        </dd>
        <dt>
            Department
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Department.Name)  
                     
        </dd>
    </dl>
    @using (Html.BeginForm("Delete","Employee",FormMethod.Post))
    {
        @Html.HiddenFor(model=>model.ID)
        <input type="submit" value="Delete" class="btn btn-default" />
        @Html.ActionLink("Back to list","Index")
    }
</div>