@model EntitiesVO.EmployeeVO
@{
    ViewBag.Title = "Edit";
    SelectList ddlDepartment = ViewBag.Department;
    SelectList ddlDesignation = ViewBag.Designation;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Employee Edit Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation.Name, "Designation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Designation.ID, ddlDesignation, "--Select--")
                @Html.ValidationMessageFor(model => model.Designation.ID, "Select valid designation", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department.Name,"Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.Department.ID,ddlDepartment,"--Select--")
                @Html.ValidationMessageFor(model => model.Department.ID, "Select valid deparment", new { @clas = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
